*{
    box-sizing: border-box;
}

.container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    padding: 50px;
    gap: 20px;
}

.header{
    height: 50px;
    width: 800px;
    font-size: large;
    border: 2px solid black;
    text-align: center;
    padding: 10px;
}
.store {
border: 1px solid black;
height: 500px;
width: 800px;
padding: 30px 30px;
overflow: scroll

}
id{
    border: 1px solid red;
}